html {
    cursor: url("../Stalker-Web-Page/images/cursor/cursor.cur"), auto;
    background-image: url("../Stalker-Web-Page/images/background.jpg");
    background-size: cover;
}

a,
button {
    cursor: url("../Stalker-Web-Page/images/cursor/select.ani"), pointer;
}

input,
textarea {
    cursor: url("../Stalker-Web-Page/images/cursor/text.ani"), text;
}

.loading {
    cursor: url("../Stalker-Web-Page/images/cursor/busy.ani"), wait;
}

.progress {
    cursor: url("../Stalker-Web-Page/images/cursor/wib.ani"), progress;
}